# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# LiveKit and logs
*.log

# Editors
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
